:root{
    --primary: #042a39;
    --primari-gradiente: #19475a;
    --secundary: #e28953;
    --secundary-light: #f5b895;
    --secundary-lightest: #fce8dc;
    --tercero: #fcf0ea;
    --tercer-trasparente: #fcf0ead0;
    --primary-transparente: rgba(4, 42, 57, 0.479);
    --primary-dark: #071920;
}

.project h1{
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    width: 30%;
    margin-top: 20px;
    color: var(--tercero);
    font-size: 36px;
    margin-bottom: 20px;
    border-bottom: solid 4px var(--secundary);
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

.project{
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.conten_project{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border-bottom: solid 4px var(--secundary);
}

.inverso{
    flex-direction: row-reverse;
}

.conten_project::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--tercer-trasparente);
    background: linear-gradient(130deg, var(--tercer-trasparente)50%, var(--tercero) 30%);
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);

    z-index: -1;
    border-radius: 15px;
}

.inverso::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--tercer-trasparente);
    background: linear-gradient(130deg, var(--tercer-trasparente)50%, var(--tercero) 30%);
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);

    z-index: -1;
    border-radius: 15px;
}

.conten_project img{
    width: 55%;
    height: 300px;
    border: solid 4px var(--secundary);
    border-radius: 15px;
    margin: 20px 70px;
}
.conten_project .contexto p{
    text-align: start;
}
.conten_project .contexto{
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.inverso .contexto p{
    text-align: end;
}
.inverso .contexto{
    align-items: end;
}

.project a{
    padding: 10px 20px;
    background-color: var(--secundary);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transform: translateY(10px);
}

.project a:hover{
    background-color: var(--primary);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transform: translateY(0);
    transition: all 0.3s ease;
}